table {
	width: 90%;
	text-align: center;
	border: 2px solid #00f;
	margin: 2% auto auto 5%;
}

table th{
	background: blue;
	width: 5%;
	border: 1px solid #00f;
	color: white;
}

table td {
	width: 10%;
	border: 1px dotted ;
}

#select {
	margin: 0px;
	padding: 0px;
	width: 35%;
	float: left;
}

#submit {
	width: 35%;
	margin: 3% 10% 0 0;
	padding: 0;
	float: right;
}