body {

	margin: 2% auto 1% auto;
	background-color: #ccc;
}

div h1 {
	text-align: center;
	font-size: 3em;
	margin: 0 0 0 30%;
	padding: 0px;
	color: blue;
	width: 40%;
	float: left;
}

div.userdisp {
	margin: 0px 5% 0 0;
	padding: 0px;
	width: 10%;
	float: right;
}

div.userdisp td {
	text-align: center;
}